*.pyc
*.swp
.ipynb_checkpoints/
/.idea/.gitignore
/.idea/introduction_to_ml_with_python.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
