asn1crypto==1.4.0
certifi==2020.6.20
cffi==1.11.5
chardet==3.0.4
click==7.1.2
cryptography==2.3.1
cycler==0.10.0
cymem==1.31.2
cytoolz==0.9.0.1
dill==0.2.8.2
graphviz==0.16
idna==2.10
imageio==2.16.0
joblib==0.14.1
kiwisolver==1.1.0
matplotlib==3.0.3
mglearn==0.1.9
mkl-fft==1.0.6
mkl-random==1.0.1
msgpack==0.5.6
msgpack-numpy==0.4.7.1
murmurhash==0.28.0
nltk==3.6.2
numpy==1.15.2
olefile==0.46
pandas==0.18.1
Pillow==7.2.0
plac==0.9.6
preshed==1.0.1
pycparser==2.20
pyOpenSSL==18.0.0
pyparsing==2.4.7
PySocks==1.6.8
python-dateutil==2.8.2
pytz==2022.6
regex==2018.7.11
requests==2.25.1
scikit-learn==0.20.0
scipy==1.1.0
six==1.16.0
spacy==2.0.12
TBB==0.1
termcolor==1.1.0
thinc==6.10.3
toolz==0.11.2
tornado==5.1.1
tqdm==4.62.3
ujson==1.35
urllib3==1.23
wrapt==1.10.11
